<div class="dashboard-container">

    <div class="logout-container">
        <div (click)="onLogout()">Logout</div>
    </div>

    <div class="grid-container">
        <div class="grid-list">
            <mat-grid-list gutterSize="16px" cols="3" rowHeight="2:1" >
                <mat-grid-tile *ngFor="let airport of airportsLists" (click)="openDialog(airport)">
                    <div class="airport-detail">
                        {{ airport.airportCode }}
                        <div class="airport-flights">
                            Number of flights: {{ airport.flights.length }}
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

</div>

