.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 95vw;
    /* align-items: center; */
    justify-content: center;
}

.grid-list {
    display: grid;
}

.logout-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

mat-grid-tile {
    box-shadow: 
        inset 0 -3em 3em rgba(0,0,0,0.1), 
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}